* {
    margin: 0;
    padding: 0;
    transition: 0.2s ease-in-out;
}

body {
    margin-top: 10px;
    background: #121621;
    color: #989db3;
    font-family: "Roboto", sans-serif;
    font-size: 20pt;
}

a {
    color: #d86473;
    text-decoration: none;
}

.box-container {
    width: 800px;
    margin: auto;
    margin-bottom: 10px;
    padding: 30px;
    box-shadow: 0px 0px 25px #090b11;
    border-left: 0px solid;
}

.box-container:hover {
    border-left: 5px solid #d86473;
}

b {
    font-weight: 500;
}

h1 {
    font-size: inherit;
    font-weight: 500;
}

span {
    color: #d86473;
}

.link-container {
    margin-top: 10px;
    font-weight: 400;
}

.link-container:hover > div {
    padding-top: 10px;
    height: 32px;
}

.hover-container {
    height: 0px;
    overflow: hidden;
    opacity: 0.5;
    transition-delay: 0.1s;
}

.hover-container:hover {
    opacity: 1;
}

.hover-container a {
    opacity: 0.3;
}

.hover-container a:hover {
    opacity: 1;
}

.img-container {
    overflow: hidden;
}

.img-container > img {
    width: 100%;
    transition: 0.4s;
}

.img-container > img:hover {
    transform: scale(1.2);
}

form > input {
    margin-top: 10px;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    text-align: left;
    color: #d86473;
    font-family: inherit;
    font-size: inherit;
}

::-webkit-input-placeholder {
    opacity: 0.3;
    color: #989db3;
    transition: 0.2s;
}

input:hover::-webkit-input-placeholder {
    opacity: 0.5;
}

input[type="submit"] {
    font-weight: 500;
}

input[type="radio"] {
    float: left;
    height: 18px;
    width: 18px;
    margin-top: 16px;
    margin-bottom: 6px;
    margin-right: 5px;
    visibility: hidden;
}

input[type=radio]:after{
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid #989db3;
    visibility: visible;
    transition: 0.2s;
}

input[type=radio]:checked:after {
    background: #d86473;
    border: 3px solid #121621;
}

form > label {
    float: left;
    margin-top: 10px;
    margin-right: 5px;
}

.box-container p {
    margin-top: 10px;
}