:root {
    --bg: #161926;
    --bg-light: #212133;
    --font: #AFADCC;
    --accent: #D8566C;
    --shadow: #080B11;
}

* {
    margin: 0px;
    padding: 0px;
    transition: 0.1s ease-in-out;
}

body {
    background: var(--bg);
    color: var(--font);
    font-family: "Roboto", sans-serif;
    font-size: 20pt;
}

h1 {
    font-size: inherit;
    font-weight: 500;
}

a {
    color: var(--accent);
    text-decoration: none;
}

b {
    font-weight: 700;
}

span {
    color: var(--accent);
}

div {
    overflow: hidden;
}

body > div {
    width: 800px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    padding-left: 15px;
    background: var(--bg-light);
    border-left: 5px solid var(--bg-light);
    box-sizing: border-box;
}

body > div:hover {
    border-left: 5px solid var(--accent);
}

body > div > * {
    margin-top: 10px;
}

div > *:first-child {
    margin-top: 0px;
}

div > img {
    width: 100%;
    transition: 0.2s;
}

div > img:hover {
    transform: scale(1.5);
}

input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: var(--accent);
    font-family: inherit;
    font-size: inherit;
}

::-webkit-input-placeholder {
    opacity: 0.25;
    color: var(--font);
    transition: 0.2s;
}

input:hover::-webkit-input-placeholder {
    opacity: 0.5;
}

input[type="submit"] {
    font-weight: 500;
}

input[type="radio"], input[type="checkbox"] {
    float: left;
    height: 14px;
    width: 14px;
    margin-top: 9px;
    margin-right: 4px;
    visibility: hidden;
}

input[type="radio"]:after, input[type="checkbox"]:after {
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid var(--font);
    visibility: visible;
    transition: 0.25s;
}

input[type=radio]:checked:after, input[type="checkbox"]:checked:after {
    background: var(--accent);
    border: 0px solid;
}

input[type="checkbox"]:after {
    border-radius: 0%;
}

label {
    float: left;
    margin-right: 5px;
}